<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pos Ventas - Infocat</title>
	<link rel="shortcut icon" href="images/VirtualCorto.png" type="image/png">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-icons.css">
	<link rel="stylesheet" href="../css/alertify.min.css">
</head>
<body>
<style>
	h1,h2,h3,h4,h5{ color:#43484e; }
	#listadoClientes{ color:darkgrey}
	#listadoClientes .razon{ font-size: 0.8rem; color: rgb(58 58 58 / 67%); }
	#listadoClientes .ruc{ font-size: 0.7rem; }
	#listadoClientes .row:hover, #divProductosVarios .row:hover{ background:rgb(232 232 232 / 89%); cursor:pointer; }
	.cuadroMouse:hover{ background:#7e39b152; cursor:pointer; }
	#cuadroCliente .btn{font-size: 0.8rem; border-color: #cacaca;}
	.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
	#divRegistroCliente input{
		margin: 0.5rem 0;
	}
	.alertify-notifier .ajs-message.ajs-error {
		background: rgb(239 4 4 / 95%);
		color: white;
		border-radius: 2rem;
	}
	.alertify-notifier .ajs-message.ajs-warning {
		background: rgb(255 143 29 / 95%);
		color: white;
		border-radius: 2rem;
	}
	.alertify-notifier .ajs-message {
			background: rgb(29 57 255 / 95%);
			color: white;
			border-radius: 2rem;
	}
	.alertify-notifier .ajs-message{
		width: 360px!important;
		right: 390px!important;
	}
	#datosEmpresa p{
    line-height: 1.3;
	}
	.close{color: #de1212;opacity: 0.8;}
</style>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5" id="menuInfocat" style="background-color: #7030a0!important;">
		<a class="navbar-brand" href="#">
			<img src="../images/VirtualCorto.png" width="60" height="60" alt="">
		</a>
		<a class="navbar-brand" href="#">Facturador Infocat </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link " href="../facturador.php" id=""><i class="icofont-group"></i> Facturador</a>
				<a class="nav-item nav-link " href="../reportes.php" id=""><i class="icofont-group"></i> Reportes</a>
			
				<a class="nav-item nav-link " href="../desconectar.php"><i class="icofont-addons"></i> <i class="bi bi-plug"></i> Desconetarse</a>
			</div>
		</div>
	</nav>

	<div id="app" class="container-fluid">
		<div class="row">
			<div class="col-md-3 p-3 container-fluid" id="cuadroCliente">
				<div id="divBasicoCliente">
					<div class="row my-3 text-secondary">
						<div class="col-2 p-0 d-flex align-items-center justify-content-center "> 
							<i class="bi bi-person-badge" style="font-size: 1.5rem;" ></i> 
						</div>
						<div class="col p-0"> <p class="m-0 text-uppercase"> <span>{{clienteActual.razon}}</span></p> <p class="m-0"><small>{{clienteActual.dni}}</small></p> <p class="m-0 text-capitalize"><small>{{clienteActual.direccion}}</small></p> </div>
					</div>
					
					<input type="search" class="form-control" placeholder='Buscar Clientes' v-model="cliBuscar" v-on:keyup.enter="buscarCliente()">
					<div class="row p-2">
						<div class="col">
							<button class="btn btn-outline-primary btn-block py-2" id="btnNuevo" @click="activarCreacion('persona')"> Persona </button>
						</div>
						<div class="col">
							<button class="btn btn-outline-primary btn-block py-2" id="btnNuevo" @click="activarCreacion('empresa')"> Empresa </button>
						</div>
					</div>
					<div id="listadoClientes" class="pt-3">
						<div class="row border-bottom p-2" v-for="(cliente, index) in clientes" @click="seleccionarCliente(index)">
							<div class="col-1 d-flex align-items-center d-justify-content-center" >
								<i class="bi bi-building" style="font-size: 1.5rem;" v-if="cliente.cliRuc.indexOf('20')==0"></i>
								<i class="bi bi-person-circle" style="font-size: 1.5rem;" v-else></i>
							</div>
							<div class="col">
								<p class="mb-0 razon"><strong>{{cliente.cliRazonSocial}}</strong></p> <p class="mb-0 ruc">DNI: {{cliente.cliRuc}}</p>
							</div>
							<div class="col-1 d-flex align-items-center d-justify-content-center" @click.prevent="activarEditar(index)"> <i class="bi bi-pen-fill"></i> </div>
						</div>
					</div>
				</div>
				<div class="pt-3 d-none" id="divRegistroCliente">
					<p><strong>Registro de cliente</strong></p>
					<input type="text" class="form-control" placeholder='Nombres y apellidos' autocomplete="nope" id="txtNombres" v-model="clienteActual.razon">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" placeholder='DNI' autocomplete="nope" id="txtDni" v-model="clienteActual.dni">
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder='Celular' autocomplete="nope" id="txtCelular" v-model="clienteActual.celular">
						</div>
					</div>
					<input type="text" class="form-control" placeholder='Dirección' autocomplete="nope" id="txtDireccion" v-model="clienteActual.direccion">
					<input type="text" class="form-control" placeholder='Correo electrónico' autocomplete="nope" id="txtCorreo" v-model="clienteActual.correo">
					<div class="row">
						<div class="col">
							<button class="btn btn-light btn-block" @click="mostrarPanelCliente()">Cancelar</button>
						</div>
						<div class="col">
							<button class="btn btn-primary btn-block" @click="guardarDatos()">Guardar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 p-3 border-left">
				<h5 class="text-secondary"><i class="bi bi-cart"></i> Canasta</h5>
				<div class="row">
					<div class="col-8">
						<div class="form-group">
							<label for="sltTipoVenta">¿Qué deseas generar?</label>
							<select id="sltTipoVenta" class="form-control" name="" v-model="tipoVenta" @change="cambiarTipoVenta">
								<option value="0">Ticket interno</option>
								<option value="3">Boleta de venta</option>
								<option value="1">Factura</option>
								<option value="-1">Proforma</option>
							</select>
						</div>
						<label><input type="checkbox" id="chkImprimir" v-model="impresionTicket"> <span v-if="impresionTicket">Imprimir ticket</span> <span v-else>Sin impresión</span></label><br>
					</div>
					<div class="col ">
						<button class="btn btn-outline-success float-right mt-4" @click="emitir()"><i class="bi bi-bookmark-star"></i> Emitir </button>
					</div>
				</div>
				
			
				<p class="mb-1"><i class="bi bi-upc-scan"></i> Escanee o haga una búsqueda:</p>

				<input type="text" class="form-control" placeholder="Código, descripción, barras" id="txtBusquedaProducto" v-on:keyup.enter="buscarProducto()" v-model="prodBuscar">

				<div class="row" v-if="productos.length >0">
					<div class="col"><p class="my-2"><small><strong>Coincidencias</strong></small></p></div>
					<div class="col mt-2"><button class="btn btn-outline-success btn-sm float-right border-0" @click="productos=[]; prodBuscar='';"><i class="bi bi-eraser"></i> Limpiar</button></div>
				</div>
				<div id="divProductosVarios" v-if="productos.length >0">
					<div class="row py-2 border-bottom noselect" v-for="(busqueda, item) in productos" @click="llenarProductos(item)">
						<div class="col "><small>{{item+1}}. {{busqueda.prodDescripcion}}</small></div> 
						<div class="col-2 text-secondary"><small><strong>{{busqueda.prodStock}}</strong></small></div> 
						<div class="col-2 text-secondary"><small><strong>{{parseFloat(busqueda.prodPrecio).toFixed(2)}}</strong></small></div> 
						<div class="col-1 d-flex justify-content-center"><i class="bi bi-box-arrow-right"></i></div>
					</div>

				</div>

			</div>
			<div class="col-md-4 p-3">
				
				<center><img :src="'../'+empresa.logo" alt="" class="img-fluid w-50"></center>
				<div id="canastaProductos">
					<p class="text-center mb-1"><strong>{{venta}}</strong></p>

					<div id="datosEmpresa">
						<p class="text-center mb-0"><strong>{{empresa.ruc}}</strong></p>
						<p class="text-center mb-0" v-if="empresa.nomComercial!=''"><strong>{{empresa.nomComercial}}</strong></p>
						<p class="text-center mb-0"><small><span v-if="empresa.nomComercial!=''">De:</span> {{empresa.razonSocial}}</small></p>
						<p class="text-center mb-0"><small>{{empresa.direccion}}</small></p>
						<p class="text-center mb-0" v-if="empresa.celular!=''"><small>{{empresa.celular}}</small></p>
					</div>
					<div class="row mt-3">
						<div class="col"><p class="mb-0"><small>Ud. lleva a cuenta:</small></p></div>
						<div class="col-3 text-center"><p class="mb-0"><small><strong>S/ <span>{{sumaTotal}}</span></strong></small></p></div>
					</div>
					<div class="border-bottom"></div>
					<div class="row py-2 border-bottom" v-for="(producto, item) in canasta" @click="editarProducto(item)">
						<div class="col-1 cuadroMouse noselect d-flex justify-content-center" @click.stop="restarItem(item)"><i class="bi bi-dash-square"></i></div>
						<div class="col noselect"><small>{{producto.cantidad}} {{producto.unidad}} {{producto.nombre}}</small></div>
						<div class="col-2 noselect text-secondary"><small><strong>{{parseFloat(producto.subTotal).toFixed(2)}}</strong></small> </div>
						<div class="col-1 cuadroMouse noselect d-flex justify-content-center" @click.stop="sumarItem(item)"> <i class="bi bi-plus-square"></i></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal para: -->
		<div class='modal fade' id='modalEditarProducto' tabindex='-1'>
			<div class='modal-dialog modal-sm modal-dialog-centered'>
				<div class='modal-content'>
					<div class='modal-body'>
						<button type='button' class='close' data-dismiss='modal' aria-label='Close'> <span aria-hidden='true'>&times;</span></button>
						
						<p class="mt-4 mb-2">Estas editando: <strong id="queEdito"></strong></p>
						<p>Precio: S/ <span id="txtPrecioProducto"></span></p>
						
						<div >
							<select name="" id="sltPreciosEspeciales" class="form-control" @change="precioDe">
								<option :value="preciosEspeciales.normal" v-if="preciosEspeciales.normal>0">Normal</option>
								<option :value="preciosEspeciales.descuento" v-if="preciosEspeciales.descuento>0">Con descuento</option>
								<option :value="preciosEspeciales.mayor" v-if="preciosEspeciales.mayor>0">Por mayor</option>
							</select>
						</div>
						<div class='d-flex justify-content-between mt-3'>
							<button type='button' class='btn btn-outline-danger btn-sm' data-dismiss="modal" @click="retirarProducto()"><i class="bi bi-arrow-90deg-left"></i> Retirar</button>
							<button type='button' class='btn btn-outline-primary btn-sm' data-dismiss="modal" @click="actualizarProducto()"><i class="bi bi-arrow-down-up"></i> Actualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- fin de app -->

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue_dev.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/alertify.min.js"></script>
<script src="../js/moment.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			empresa:[],
			cliBuscar: '', prodBuscar:'', tipoVenta:0, venta: 'Ticket interno', serie: null,
			clientes: [{
				idCliente: 1,
				cliRazonSocial: 'Cliente simple',
				cliRuc: '00000000'
			}],
			clienteActual:{dni: '00000000', razon: 'Cliente simple', idCliente:1, tipo:'persona', direccion:''},
			modoCliente:null, idProducto:null, preciosEspeciales:[],
			productos:[],
			canasta:[],
			impresionTicket:true
			
		},
		mounted(){
			this.datosEmpresa();
		},
		methods:{
			datosEmpresa(){
				axios.post('../php/datosEmpresa.php')
				.then((response)=>{ app.empresa= response.data})
				.catch((error)=>{ console.log( error );});
				
			},
			buscarCliente(){
				if(this.cliBuscar!=''){
					axios.post('../php/buscarCliente.php', { texto: this.cliBuscar })
					.then((response)=>{ console.log( response.data );
						app.clientes= response.data;
					})
					.catch((error)=>{ console.log( error ); });
				}else{
					this.clientes=[];
				}
			},
			activarRegistro(queTipo){
				if(queTipo=='persona'){
					$('#txtNombres').attr('placeholder', 'Nombres y apellidos' );
					$('#txtDni').attr('placeholder', 'DNI / CE' );
					$('#txtCelular').attr('placeholder', 'Celular');
					$('#txtDirección').attr('placeholder', 'Dirección');
					$('#txtCorreo').attr('placeholder', 'Correo elecrtónico');
				}else{
					$('#txtNombres').attr('placeholder', 'Razón social' );
					$('#txtDni').attr('placeholder', 'RUC' );

				}
				$('#divBasicoCliente').addClass('d-none');
				$('#divRegistroCliente').removeClass('d-none');
			},
			activarCreacion(queTipo){
				this.modoCliente='nuevo';
				this.borrarDataCliente(queTipo);
				this.activarRegistro(queTipo);
			},
			borrarDataCliente(queTipo){
				this.clienteActual.dni='';
				this.clienteActual.razon='';
				this.clienteActual.direccion='';
				this.clienteActual.id='';
				this.clienteActual.correo='';
				this.clienteActual.celular='';
				this.clienteActual.tipo=queTipo;
			},
			mostrarPanelCliente(){
				this.clienteActual.dni= '00000000';
				this.clienteActual.razon=  'Cliente simple';
				this.clienteActual.id=1;
				this.clienteActual.direccion='';
				this.clienteActual.celular='';
				this.clienteActual.correo='';
				this.clienteActual.tipo='persona';

				$('#divRegistroCliente').addClass('d-none');
				$('#divBasicoCliente').removeClass('d-none');	
			},
			seleccionarCliente(index){
				this.clienteActual.dni=this.clientes[index].cliRuc;
				this.clienteActual.razon=this.clientes[index].cliRazonSocial;
				this.clienteActual.direccion=this.clientes[index].cliDomicilio;
				this.clienteActual.id=this.clientes[index].idCliente;
				this.clienteActual.celular=this.clientes[index].cliTelefono;
				this.clienteActual.correo=this.clientes[index].cliCorreo;
				if( this.clienteActual.dni.indexOf('20')==0 ){
					this.clienteActual.tipo='empresa';
				}else{
					this.clienteActual.tipo='persona';
				}				
			},
			activarEditar(index){
				this.modoCliente='actualizar';
				this.activarRegistro(this.clienteActual.tipo);
			},
			refrescarDatos(index){
				this.clientes[index].cliRuc = this.clienteActual.dni;
				this.clientes[index].cliRazonSocial = this.clienteActual.razon;
				this.clientes[index].cliDomicilio = this.clienteActual.direccion;
				this.clientes[index].idCliente = this.clienteActual.id;
				this.clientes[index].cliTelefono = this.clienteActual.celular;
				this.clientes[index].cliCorreo = this.clienteActual.correo;
				this.seleccionarCliente(index);
			},
			guardarDatos(){

				if(this.clienteActual.dni.length!=8 && this.clienteActual.dni.length!=11 ){
					alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> DNI/RUC no es válido.').delay(15);
				}
				else if(this.clienteActual.razon==''){
					alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> Rellene la razón social/Nombres.').delay(15);
				}else{
					if(this.modoCliente=='nuevo'){
						axios.post('../php/crearCliente.php', { cliente: this.clienteActual })
						.then((response)=>{ 
							if( parseInt(response.data)>0 ){
								app.clienteActual.id=response.data;
								
							}else{
								app.borrarDataCliente('persona');
							}
							$('#divRegistroCliente').addClass('d-none');
							$('#divBasicoCliente').removeClass('d-none');	
						})
						.catch((error)=>{ app.borrarDataCliente('persona'); console.log( error );})
					}
					if(this.modoCliente=='actualizar'){
						axios.post('../php/actualizarCliente.php', { cliente: this.clienteActual })
						.then((response)=>{ 
							//console.log( response.data );
							if(response.data=='ok'){
								let index =  app.clientes.map(client => client.idCliente).indexOf( app.clienteActual.id );
								app.refrescarDatos(index);
							}
							
							
							$('#divRegistroCliente').addClass('d-none');
							$('#divBasicoCliente').removeClass('d-none');	
						})
						.catch((error)=>{ app.borrarDataCliente('persona'); console.log( error );})
					}
				}
			},
			llenarProductos(item){
				//console.log('total productos es '+ this.productos.length );
				if(this.productos.length==1){
					this.canasta.push({
						id: this.productos[0].idProductos,
						nombre: this.productos[0].prodDescripcion,
						cantidad: 1,
						unidad: 'Und.',
						unidadSunat: 'NIU',
						precio: this.productos[0].prodPrecio,
						mayor: this.productos[0].prodPrecioMayor,
						descuento: this.productos[0].prodPrecioDescto,
						afecto: this.productos[0].idGravado,
						subTotal: this.productos[0].prodPrecio
					});
					//console.log( this.canasta );
				}else if(this.productos.length==0){
					alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> No existe coincidencias en la búsqueda: <br> <small><strong class="ml-3">«'+this.prodBuscar+'»</strong></small>');
				}else if(this.productos.length>1){
					this.canasta.push({
						id: this.productos[item].idProductos,
						nombre: this.productos[item].prodDescripcion,
						cantidad: 1,
						unidad: 'Und.',
						unidadSunat: 'NIU',
						precio: this.productos[item].prodPrecio,
						mayor: this.productos[item].prodPrecioMayor,
						descuento: this.productos[item].prodPrecioDescto,
						afecto: this.productos[item].idGravado,
						subTotal: this.productos[item].prodPrecio
					});
				}
				this.prodBuscar='';
				$('#txtBusquedaProducto').focus();
			},
			buscarProducto(){
				if(this.prodBuscar!=''){
					axios.post('../php/buscarProducto.php', {texto: this.prodBuscar})
					.then((response)=>{ //console.log( response.data );
						app.productos=response.data;
						app.llenarProductos();
					})
					.catch((error)=>{ console.log( error );});
				}
			},
			sumarItem(item){
				this.canasta[item].cantidad += 1;
				this.canasta[item].subTotal =this.canasta[item].cantidad * this.canasta[item].precio ;
				
			},
			restarItem(item){
				event.preventDefault();
				if(this.canasta[item].cantidad>1){
					this.canasta[item].cantidad -= 1;
					this.canasta[item].subTotal =this.canasta[item].cantidad * this.canasta[item].precio ;
				}
			},
			cambiarTipoVenta(){
				switch( this.tipoVenta){
					case '3': this.venta="Boleta de venta"; break;
					case '1': this.venta="Factura"; break;
					case '0': this.venta="Ticket interno"; break;
					case '-1': this.venta="Proforma"; break;
				}
			},
			emitir(){	
				switch( this.tipoVenta ){
					case 1: case '1': //Factura
						if( this.clienteActual.dni.length!=11 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> Verifique el RUC, no es válido.').delay(15);
						}else if(this.clienteActual.razon==''){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> La razón social no puede estar en blanco.').delay(15);
						}else if( this.canasta.length==0 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> La factura debe tener al menos 1 producto.').delay(15);
						}else{
							alertify.message('<i class="bi bi-info-circle"></i> Generando la factura, espere ').delay(15);
							//mandar a guardar e impr
							this.serie= this.empresa.serieFactura;
							this.guardar();
						}
					break;
					case 3: case '3': //Boleta
						if( this.clienteActual.dni.length!=8 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> Verifique el DNI, no es válido.').delay(15);
						}else if(this.clienteActual.razon==''){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> El nombre no puede estar en blanco.').delay(15);
						}else if( this.canasta.length==0 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> La boleta debe tener al menos 1 producto.').delay(15);
						}else{
							alertify.message('<i class="bi bi-info-circle"></i> Generando la factura, espere ').delay(15);
							this.serie= this.empresa.serieBoleta;
							//mandar a guardar e impr
							this.guardar();
						}
					break;
					case 0: case '0': //Otros=Ticket
						if( this.canasta.length==0 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> La venta debe tener al menos 1 producto.').delay(15);
						}else{
							alertify.message('<i class="bi bi-info-circle"></i> Generando la factura, espere ').delay(15);
							this.serie = '';
							//mandar a guardar e impr
							this.guardar();
						}
					break;
					case -1: case '-1':
					if( this.canasta.length==0 ){
							alertify.error('<i class="bi bi-exclamation-diamond-fill"></i> La venta debe tener al menos 1 producto.').delay(15);
						}else{
							alertify.message('<i class="bi bi-info-circle"></i> Generando la factura, espere ').delay(15);
							this.serie = '';
							//mandar a guardar e impr
							this.guardar();
						}
					break;
				}
				
			},
			guardar(){
				let cabecera = { tipo: this.tipoVenta, serie: this.serie, fecha: moment().format('YYYY-MM-DD') }
				axios.post('../php/insertarBoleta_v4.php', {empresa: this.empresa, cliente: this.clienteActual, cabecera: cabecera, jsonProductos: this.canasta
				})
				.then((response)=>{ console.log( response.data );
					let jTicket = response.data;

					if(app.impresionTicket){
						$.ajax({url: "http://127.0.0.1/"+this.empresa.carpeta+"/printComprobante.php", type: 'POST', data: {
							ticketera: this.empresa.ticketera,
							tipoComprobante: jTicket[0].tipoComprobante,
							rucEmisor: jTicket[0].rucEmisor,
							queEs: jTicket[0].queSoy,
							serie: jTicket[0].serie,
							correlativo: jTicket[0].correlativo,
							tipoCliente: jTicket[0].tipoCliente,
							fecha: jTicket[0].fechaEmision,
							fechaLat: moment(jTicket[0].fechaEmision, 'YYYY-MM-DD').format('DD/MM/YYYY'),
							cliente: jTicket[0].razonSocial,
							docClient: jTicket[0].ruc,
							monedas: jTicket[0].letras,
							descuento: parseFloat(jTicket[0].descuento).toFixed(2),
							costoFinal: parseFloat(jTicket[0].costoFinal).toFixed(2),
							igvFinal: parseFloat(jTicket[0].igvFinal).toFixed(2),
							totalFinal: parseFloat(jTicket[0].totalFinal).toFixed(2),
							productos: jTicket[1],
							direccion:jTicket[0].direccion,
							exonerado: parseFloat(jTicket[0].exonerado).toFixed(2),
							/* placa: jTicket[0].placa, */
						}}).done(function(resp) {
							console.log(resp)
							app.limpiarTodo();
							//location.reload();
						});

					}else{
						app.limpiarTodo();
					}


				})
				.catch((error)=>{ console.log( error );});
			},
			editarProducto(item){
				this.idProducto=item;
				$('#queEdito').text(this.canasta[item].nombre);
				$('#txtPrecioProducto').text(parseFloat(this.canasta[item].precio).toFixed(2));
				this.preciosEspeciales = {normal:this.canasta[item].precio, mayor: this.canasta[item].mayor, descuento:  this.canasta[item].descuento };
				$('#modalEditarProducto').modal('show');
				
			},
			retirarProducto(){
				this.canasta.splice(this.idProducto, 1)
			},
			actualizarProducto(){
				this.canasta[this.idProducto].precio = $('#sltPreciosEspeciales').val();
				this.canasta[this.idProducto].subTotal = this.canasta[this.idProducto].precio * this.canasta[this.idProducto].cantidad;
			},
			precioDe(){
				$('#txtPrecioProducto').text( parseFloat($('#sltPreciosEspeciales').val()).toFixed(2) );
			},
			limpiarTodo(){
				this.cliBuscar= '';
				this.prodBuscar=''
				this.tipoVenta=0;
				this.venta= 'Ticket interno';
				this.clientes= [{
					idCliente: 1,
					cliRazonSocial: 'Cliente simple',
					cliRuc: '00000000'
				}];
				this.clienteActual={dni: '00000000', razon: 'Cliente simple', idCliente:1, tipo:'persona', direccion:''};
				this.modoCliente=null;
				this.idProducto=null;
				this.preciosEspeciales=[];
				this.productos=[];
				this.canasta=[];
			}
		},
		computed:{
			sumaTotal(){
				let sumaTodo=0;
				this.canasta.forEach(caso => {
					sumaTodo+=parseFloat(caso.subTotal);
				});
				return parseFloat(sumaTodo).toFixed(2);
			}
		}
	})
</script>
</body>
</html>